link(rel="icon" type="image/png" href=siteURL+"/favicon-96x96.png" sizes="96x96")
link(rel="icon" type="image/svg+xml" href=siteURL+"/favicon.svg")
link(rel="shortcut icon" href=siteURL+"/favicon.ico")
link(rel="apple-touch-icon" sizes="180x180" href=siteURL+"/apple-touch-icon.png")
meta(name="apple-mobile-web-app-title" content="Great Sex Tips!")
link(rel="manifest" href=siteURL+"/site.webmanifest")